/* Global Styles */

html,
body {
    height: 100%;
    font-family: verdana, sans-serif;
}
body {
    padding-top: 50px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.img-portfolio {
    margin-bottom: 30px;
}
.img-hover:hover {
    opacity: 0.8;
}

/* About Us Section */

.about-us {
    background-color: #444444;
    color: #ffffff;
}

/*** CUSTOM BOOTSTRAP NAVBAR ***/

.navbar-default {
    background-color: #282931;
    border-color: #282931;
    /* #293146; */
}
.navbar-default .navbar-brand {
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
    transition: all 0.3s ease;
}
.navbar-default .navbar-brand .last-name {
    color: #5ee0ff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
    transform: translateX(10px);
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    transition: all 0.3s ease;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #5ee0ff;
    transform: translateY(-5px);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #5ee0ff;
    background-color: #282931;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #5ee0ff;
    background-color: #282931;
}
.navbar-default .navbar-toggle {
    /* border-color: #232731; */
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #282931;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #282931;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #282931;
    }
}
